.nav {
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 200px;
    left: 0;

    height: 100vh;

    padding-left: 20px;
    background-color: grey;
}

.link {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    padding: 10px 20px;
}

img {
    transform: scale(0.8);
}