/*.splash {
    background-image: url('../assets/SplashImg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;

    opacity: 0.9;
}*/